doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../style.css")
        title Document
    body  
        header.header 
            .header_container 
                .header_container-text 
                  h2.h 1:15
                  h2.h1 Recipe
                  p.p finder

                .header_container-img
                    img.img(src="../img/Frame 33828.png", alt="")
                    img.img2(src="../img/list.png", alt="")


                input.input(type="search" placeholder="Search recipes" )

        section.hero 
           .hero_container 
                .hero_containe-text 
                   h1.h1 Healthy Recipes
                   h2.h with features
                   p.p See all
                   h2.h2 with benefits
                   p.p2 See all
         
                .hero_container-card
                    img(src="../img/keto-salad-with-roasted-eggplant-kale 2.png", alt="")
                    h2 Keto Salad
                    p Beans & fruits
                    .box
                        img(src="../img/Star Filled.png", alt="")
                        p 4.9

                
                .hero_container-card2
                    img(src="../img/salad3 2.png", alt="")
                    h2 Sewers Salad
                    p Chicken & dal
                    .box
                        img(src="../img/Star Filled.png", alt="")
                        p 4.5

                .hero_container-login
                    p  Learn how to become a master chef right now!
                    img(src="../img/Group 1.png", alt="")
                    button Login
                
                .hero_container-card3 
                   img.img(src="../img/Rectangle 7.png", alt="")
                   h2 Mung bean Salad 
                   img.img2(src="../img/CheckCircle.png", alt="")
                   p Reduce Chronic Disease Risk

                .hero_container-footer 
                    img(src="../img/Footer.png", alt="")


        section.button 
            .button_header 
                p 1:15
                img.img(src="../img/Frame 33828.png", alt="")      
                input(type="search" placeholder="Search recipes" )

            .button_section-card 
                .card1 
                    img.img(src="../img/10.png", alt="")
                    h2 Pasta Salad
                    img.img2(src="../img/CheckCircle.png", alt="")
                    p Protects against cancer
                .card2 
                    img.img(src="../img/11.png", alt="")
                    h2 Tuna Salad
                    img.img2(src="../img/CheckCircle.png", alt="")
                    p Helps with Blood Pressure
                .card3 
                    img.img(src="../img/12.png", alt="")
                    h2 Caesar Salad
                    img.img2(src="../img/CheckCircle.png", alt="")
                    p Boosts Immunity System
               
            .button_section-img
                img.img(src="../img/15.png", alt="")
                img.img2(src="../img/14.png", alt="")
                button Start cook
                h2 Weekly pick
                p This pumpkin cream soup
                p will warm up the feintest of hearts.


            .button_footer 
                img(src="../img/Footer.png", alt="")
                 


        script(src="../app.js") 